{
  "parser": "babel-eslint",
  "env":{
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "linebreak-style": "off",
    "comma-dangle": "off",
    "comma-spacing": "off",
    "indent": "off",
    "padded-blocks": "off",
    "eol-last": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "no-trailing-spaces": "off",
    "no-unused-vars": "off",
    "max-len": "off",
    "quotes": "off"
  },
  "extends": ["eslint:recommended", "google"]
}